<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/agenda_clinica</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">12345678</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="br.com.agendaclinica.crud.agenda_clinica.model.Usuario"/>
        <mapping class="br.com.agendaclinica.crud.agenda_clinica.model.Paciente"/>
        <mapping class="br.com.agendaclinica.crud.agenda_clinica.model.Profissional"/>
        <mapping class="br.com.agendaclinica.crud.agenda_clinica.model.Atendimento"/>
        <mapping class="br.com.agendaclinica.crud.agenda_clinica.model.ObservacaoAtendimento"/>
        <mapping class="br.com.agendaclinica.crud.agenda_clinica.model.DisponibilidadeProfissional"/>
    </session-factory>
</hibernate-configuration>
